<%= form_for @question, :url => admin_mquestion_path(@question) do |f| %>

    <label for="question">Вопрос:</label>
    <%= f.text_field :question %><br />

    <label for="answer1">Ответ 1:</label>
    <%= f.text_field :answer1 %><br />

    <label for="answer2">Ответ 2:</label>
    <%= f.text_field :answer2 %><br />

    <label for="answer3">Ответ 3:</label>
    <%= f.text_field :answer3 %><br />

    <label for="answer4">Ответ 4:</label>
    <%= f.text_field :answer4 %><br />

    <label for="answer5">Ответ 5:</label>
    <%= f.text_field :answer5 %><br />

    <label for="rightanswer">Номер правильного ответа: </label>
    <select name='mquestion[rightanswer]' class="span2">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <label for="showdate">Дата показа на странице:</label>
    <%= f.date_field :showdate %><br />

    <%= submit_tag "Отправить" %>

<% end %>