<ul class="nav nav-pills">
  <li><%= link_to 'На главную', admin_path %></li>
  <li> <li><%= link_to 'Участники', admin_members_path %></li></li>
</ul>
<% if flash[:notice] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
<% end %>

<table border="1">
  <tr>
    <td>Имя</td>
    <td>Фамилия</td>
    <td>Возраст</td>
    <td>Город</td>
    <td>Дата регистрации</td>
    <td></td>
  </tr>
  <tr>
    <% for winer in @winers %>
        <% @mem=Member.find([winer.memberid]).first %>
        <td><%=  @mem.name %></td>
        <td><%= @mem.soname %></td>
        <td><%= @mem.age %></td>
        <td><%= @mem.city %></td>
        <td><%= winer.date.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Удалить', admin_winer_path(winer), :method => :delete,
                        data:{:confirm => "Вы уверены" } %></td>
        </tr>
    <% end %>
</table>
<%= will_paginate @winers %>